.comicConatiner {
	display: flex;
	flex-direction: column;
	margin-bottom: auto;
	width: 100%;
	height: auto;
	transition: ease-in-out;
}

.comicThumbnail {
	position: relative;
	width: 100%;
	height: auto;
	text-align: left;
	filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.3));
	object-fit: contain;
	aspect-ratio: 125 / 188;
}

.comicButtonContainer {
	position: relative;
	height: 0px;
	display: grid;
	place-items: center;
}

.comicButton {
	position: absolute;
	background-color: black;
	border-radius: 50%;
	width: 24px;
	height: 24px;
}

/*  Bottom Info */
.infoContainer {
	position: relative;
	display: flex;
	flex-direction: column;
}

.comicTitle {
	margin : 0;
	margin-top: 20px;
}

.comicLabelContainers {
	position: relative;
	width: 100%;
	height: auto;
	font-size: 12px;
	text-align: left;
	display: flex;
	flex-direction: row;
	font: Montserrat, Regular;
	margin-top: 8px;
}

.comicLabelTitle {
	font-weight: bold;
	margin-right: 4px;
}


@media (max-width : 424px) {
	.comicConatiner {
		flex-direction: row-reverse;
	}
	
	.comicThumbnail {
		position: relative;
		width: 125px;
		height: auto;
		margin-left: 20px;
	}

	.comicButtonContainer {
		position: relative;
		height: 0px;
		display: grid;
		place-items: center;
		margin-top: auto;
		margin-bottom: auto;
	}
	
	.comicButton {
		position: absolute;
		left: calc(10px);
		top : calc(50% - 11px);
		background-color: black;
		border-radius: 50%;
		width: 22px;
		height: 22px;
		border: none;
	}

	.infoContainer {
		position: relative;
		display: flex;
		flex-direction: column;
		margin-right:  auto;
	}
	
	.comicTitle {
		margin : 0;
		font-size: 14px;
	}

	.comicLabelContainers {
		font-size: 11px;
	}
	
	.creators {
		flex-direction: column;
	}
}

@media (max-width : 344px) {
	.comicThumbnail {
		width: 100px;
	}
}